.wrapper {
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
}
// Button Type
.primary {
    min-width: 110px;
    font-size: 1.6rem;
    border: none;
    color: rgb(255 255 255);
    background-color: rgb(254 44 85);
    padding: 6px 8px;
    font-weight: 600;
    line-height: 25px;
    margin-left: 16px;
    &:hover {
        background: linear-gradient(0deg, rgb(0 0 0 / 6%), rgb(0 0 0 / 6%)), rgb(254 44 85);
    }
}
.normal {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--white);
    &:hover {
        background-color: rgb(22 24 35 / 3%);
    }
    .title {
        font-size: 18px;
    }
    .leftIcon {
        text-align: start;
        line-height: 32px;
        width: 32px;
        height: 32px;
    }
}
.border {
    min-width: 110px;
    padding: 0 16px;
    height: 36px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #161823;
    border: 1px solid rgb(22 24 35 / 12%);
    background-color: var(--white);
    &:hover {
        background-color: rgb(22 24 35 / 3%);
    }
}
.rounded {
    font-size: 1.4rem;
    color: #fff;
    padding: 0 8px;
    min-width: 32px;
    height: 32px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;
    font-weight: 700;
    position: fixed;
    right: 24px;
    bottom: 12px;
    background-color: rgb(254 44 85);
    &:hover {
        background: linear-gradient(0deg, rgb(0 0 0 / 6%), rgb(0 0 0 / 6%)), rgb(254 44 85);
    }
}
// Button Size
.small {
    border-width: 1px;
    border-style: solid;
    color: rgb(254 44 85);
    border-color: rgb(254 44 85);
    font-size: 16px;
    width: 88px;
    min-height: 28px;
    line-height: 22px;
    font-weight: 600;
    padding: 0 10px;
    font-weight: 600;
    &:hover {
        background-color: rgb(254 44 85 / 6%);
    }
}
.large {
    width: 324px;
    height: 48px;
    color: rgb(254 44 85);
    border: 1px solid rgb(254 44 85);
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: 600;
    &:hover {
        background-color: rgb(254 44 85 / 6%);
    }
}
.leftIcon {
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 6px;
}
.title {
    font-size: 1.6rem;
}
