.wrapper-following {
    width: 692px;
    margin-left: 12px;
}

.wrapper-suggesst {
    width: 736px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-left: 12px;
}