.wrapper {
    display: flex;
    flex-direction: column;
}
.container {
    margin-top: var(--header-height);
    display: flex;
}
.sidebar {
    position: fixed;
    width: var(--sidebar_height);
    top: var(--header-height);
    left: 0;
    bottom: 0;
    padding-left: 8px;
    padding-top: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.content-wrapper {
    margin-left: var(--sidebar_height);
    width: 1288px;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar-track {
    // background: #eee;
}

::-webkit-scrollbar {
    width: 8px;
    border: none;
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
}
